<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="cnxBase"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBProjet;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
		/>-->
		<add name="cnxBase"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=DESKTOP-6MDR1F9;Initial Catalog=DBProjet;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"
		/>
	</connectionStrings>
</configuration>


